<h1>Đăng nhập</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()"novalidate>
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input type="text" class="form-control" id="email" name="email"  formControlName="email">
  </div>

  <div *ngIf="!email.valid&&(email.dirty||email.touched)">
    <div [hidden]="!email.errors.pattern">
      <p style="color: red">email is not pattern</p>
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password"  formControlName="password">
  </div>
  <div class="mb-3"
       *ngIf="!password.valid&&(password.dirty||password.touched)">
    <div [hidden]="!password.errors.minlength">
      <p style="color: red">password is not minlength</p>
    </div>
  </div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary"[disabled]="loginForm.valid">Submit</button>
</form>
