<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout::head}">
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<div th:replace="~{layout::header}"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <form th:action="@{/shop}" th:object="${cart}" method="post">
                <h4>Total Items: <span th:text="${cart.countItemQuantity()}"></span></h4>
                <h4>Total Products: <span th:text="${cart.countProductQuantity()}"></span></h4>
                <table id="tableList">
                    <thead class="text-light bg-dark">
                    <tr>
                        <th>Item</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="product: ${cart.products}">
                        <td><img th:src="${product.getKey().image}"></td>
                        <td th:text="${product.getKey().name}"></td>
                        <td th:text="${product.getKey().price}"></td>
                        <td th:text="${product.getValue()}"></td>
                    </tr>
                    <tr>
                        <td>Total</td>
                        <td th:text="${cart.countTotalPayment()}"></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>