<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<h3>Add Product</h3>
<p>
    <a th:href="@{/product}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form th:action="@{/product/save}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name Product</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Price Product</label>
            <input type="text" th:field="*{prince}"/>
        </div>
        <div>
            <label>Description Product</label>
            <input type="text" th:field="*{description}"/>
        </div>
        <div>
            <label>Image Product</label>
            <input type="text" th:field="*{image}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer> Product 2022</footer>
</body>
</html>