<h1>List Student</h1>
<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">name</th>
    <th scope="col">age</th>
    <th scope="col">email</th>
    <th scope="col">address</th>
    <th scope="col">mark</th>
    <th scope="col">detail</th>
    <th scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let student of students">
    <td>{{student.id}}</td>
    <td>{{student.name | titlecase}}</td>
    <td>{{student.age}}</td>
    <td>{{student.email}}</td>
    <td>{{student.address}}</td>
    <td>{{student.mark}}</td>
    <td *ngIf="student.mark < 6;else elseBlock" class="text-danger">Fail</td>
    <ng-template #elseBlock>
      <td class="text-success">Pass</td>
    </ng-template>
    <td>
      <a class="btn btn-success m-2" (click)="getStudent(student)">detail</a>
      <a class="btn btn-danger m-2">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<app-view-student *ngIf="students" [students]="student" ></app-view-student>
<hr>
<h1>Create Student</h1>
<form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="id" class="form-label"> Id Student</label>
    <input type="text" class="form-control" id="id" name="id" formControlName="id">
  </div>
  <div class="mb-3">
  <label for="name" class="form-label"> Name Student</label>
  <input type="text" class="form-control" id="name" name="name" formControlName="name">
  </div>
  <div class="mb-3">
    <label for="age" class="form-label"> Age Student</label>
    <input type="text" class="form-control" id="age" name="age" formControlName="age">
  </div>
  <div class="mb-3">
    <label for="email" class="form-label"> Email Student</label>
    <input type="text" class="form-control" id="email" name="email" formControlName="email">
  </div>
  <div class="mb-3">
    <label for="address" class="form-label"> Address Student</label>
    <input type="text" class="form-control" id="address" name="address" formControlName="address">
  </div>
  <div class="mb-3">
    <label for="mark" class="form-label"> Mark Student</label>
    <input type="text" class="form-control" id="mark" name="mark" formControlName="mark">
  </div>
  <p>
    <button class="btn-primary" (click)="addSkills()" type="submit">Submit</button>
  </p>
</form>
