
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit province</title>
</head>
<body>
<h1>Edit province</h1>


<form th:action="@{/edit}" th:object="${customer}" method="post">
    <input th:type="text" name="id" th:field="*{id}" readonly>
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"></td>
        </tr>
    </table>
</form>
</body>
</html>