<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customer</title>
</head>
<body>
<h1>List Customer</h1>
<div>
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>


<form action="/search">
    <input type="text" name="nameCustomer">
</form>

<!--<div>-->
<!--    <a th:href="@{'/customers'(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>-->
<!--    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>-->
<!--    <a th:href="@{'/customers'(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>-->
<!--</div>-->
<p>
    <a href="/create-customer">Create Customer</a>
</p>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="customer : ${customerList}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
        <td>
            <a th:href="@{/edit/__${customer.id}__}">Edit</a>
        </td>
        <td>
            <a th:href="@{/delete/__${customer.id}__}">Delete</a>
        </td>
    </tr>
</table>

<div>
    <a th:href="@{'/list'(page = ${customerList.number - 1})}"
       th:if="${customerList.hasPrevious()}">Previous</a>
    <span th:text="${customerList.number + 1}"></span>
    / <span th:text="${customerList.totalPages}"></span>
    <a th:href="@{'/list'(page = ${customerList.number + 1})}"
       th:if="${customerList.hasNext()}">Next</a>
</div>

</body>
</html>