<!DOCTYPE html>
<html lang="en" xmlns:th="http:http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Code</title>
</head>
<body>
<a href="/code/create">Thêm mới code</a><br>
<a href="/book">Đi đến trang Book</a>
<h1>Code</h1>
<a th:text="${message}"></a>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:book th:each="code : ${codeList}">
        <tr>
            <td th:text="${code.nameBook}"></td>
            <td><a th:href="@{/code/edit/__${code.id}__ }">Edit</a></td>
            <td><a th:href="@{/code/delete/__${code.id}__ }">Delete</a></td>
        </tr>
    </th:book>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>