# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\codegym\Module4\demo_anh_trung\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
