<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3 style="text-align: center">Book</h3>
<h3 th:text="${message}"></h3>
<table id = "book">
    <thead>
    <tr>
        <th>Id</th>
        <th>Tên sách</th>
        <th>Tác giả</th>
        <th>Ngày xuất bản</th>
        <th>Số lượng sách</th>
        <th>Mượn sách</th>
        <th>Trả sách</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td ><a th:href="@{/book/{id}/view(id=${book.getId()})}" th:text="${book.nameBook}"></a></td>
        <td th:text="${book.nameAuthor}"></td>
        <td th:text="${book.datePublication}"></td>
        <td th:text="${book.numberOfBooks}"></td>
        <td><a th:href="@{/book/borrow/__${book.id}__}">Mượn sách</a></td>
        <td><a th:href="@{/book/{id}/return(id=${book.getId()})}">Trả sách</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>