# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\codegym\Module4\ ss1_Tổng_quan_Spring_MVC\bai_tap\ung_dung_tu_dien_don_gian\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
