<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Blog</h3>
<p>
    <a th:href="@{/blog}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form th:action="@{/blog/save}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name Blog</label>
            <input type="text" th:field="*{nameBlog}"/>
        </div>
        <div>
            <label>Category: </label>
            <select th:field="*{category.id}">
                <option th:each="item: ${category}"
                        th:value="${item.id}" th:text="${item.nameCategory}"></option>
            </select>
        </div>
        <input type="submit" value="save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>