
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3 style="text-align: center">Blog</h3>
<p>
    <a th:href="@{/blog/create}">
        Add new Blog
    </a>
</p>

<a th:text="${messages}"></a>
<table id = "blog">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name Blog</th>
        <th>Blog Content</th>
        <th>Date Create</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blogs : ${blogList}">
        <td th:text="${blogs.getId()}"></td>
        <td ><a th:href="@{/blog/{id}/view(id=${blogs.getId()})}" th:text="${blogs.getNameBlog()}"></a></td>
        <td th:text="${blogs.getContent()}"></td>
        <td th:text="${blogs.getDayCreate()}"></td>
        <td><a th:href="@{/blog/{id}/edit(id=${blogs.getId()})}">edit</a></td>
        <td><a th:href="@{/blog/{id}/delete(id=${blogs.getId()})}">delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>