<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<!--<h3 style="text-align: center">Blog</h3>-->
<!--<p>-->
<!--    <a th:href="@{/blog/create}">-->
<!--        Add new Blog-->
<!--    </a>-->
<!--</p>-->

<!--<a th:text="${messages}"></a>-->
<table id = "blog">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name Blog</th>
        <th>Blog Content</th>
        <th>Date Create</th>
        <th>Name Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="blogStat : ${blogList}">
        <td th:text="${blogStat.getId()}"></td>
        <td th:text="${blogStat.getNameBlog()}"></td>
        <td th:text="${blogStat.getDateStart()}"></td>
<!--        <td th:text="${blogStat.category.nameCategory()}"></td>-->
        <td><a th:href="@{/blog/{id}/edit(id=${blogStat.getId()})}">edit</a></td>
        <td><a th:href="@{/blog/{id}/delete(id=${blogStat.getId()})}">delete</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>