<h1 class="text-center" style="color: aquamarine">
  TODO
</h1>
<div class="col-md-8 offset-md-2">
  <form (ngSubmit)="change()" [formGroup]="content" action="" >
    <input type="text" class="form-control" formControlName="action" [disabled]="content.invalid">
    <button>Add</button>
  </form>
  <p *ngIf="content.get('action').errors.required">error</p>
  <table>
    <tr  *ngFor="let todo of todos; index as i">
      <td (click)="toggleTodo(i)"  [class.complete]="todo.complete">{{todo.content}}</td>
      <td><button (click)="delete(todo.id)">Delete</button></td>
    </tr>
  </table>
</div>
