body {
    margin: 0;
    background-color: whitesmoke;
}

/* Định dạng header */
.header {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    font-family: Florence,cursive;
}

/* Định dạng thanh điều hướng trên cùng */
.topnav {
    overflow: hidden;
    background-color: black;
}

/* Định dạng link điều hướng */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Thay đổi màu liên kết khi di chuột qua */
.topnav a:hover {
    background-color: #db7093;
    color: white;
    font-weight: bold
}
* {
    box-sizing: border-box;
}
/* Tạo ba cột không bằng nhau, float cạnh nhau */
.column {
    float: left;
    padding: 10px;
}
.column a:hover {
    background-color: #db7093;
    color: white;
    font-weight: bold
}
.column a {
    text-decoration: none;
    text-align: center;
}

/* Cột bên trái và phải */
.column.side {
    width: 25%;
    height: 290px;
    padding-left: 60px;
    background-color: #e2e5e9;
    border: solid 5px white;
}

/* Cột chính giữa */
.column.middle {
    width: 50%;
    height: 100%;
    background-color: white;
}

/* Clear float khác sau các cột */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Bố cục linh hoạt: ba cột xếp chồng lên nhau thay vì cạnh nhau khi màn hình
có chiều rộng dưới 600px */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}
.background{
    padding-left: 30px;
}

/* Định dạng footer */
#footer {
    text-align: center;
    font-weight: 900;
    background-color: #bdc3c7;
    line-height: 30px;
    margin-top: 30px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}