.toolbar {
    display: flex;
}
* {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}
.header{
    font-family: Florence,cursive;
    text-align: center;
    background-color: green;
    color: white;
    padding-right: 200px;
    height: 40px;
}
#toolbar{
    height: 80px;
    padding: 0px;
    margin-top: 10px;
    background-color: green;
}
#toolbar ul, #toolbar li{
    padding: 0;
    margin: 0;
}
#toolbar li{
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}
#toolbar a{
    font-family: Florence,cursive;
    text-decoration: none;
    color: black;
    float: left;
}
#toolbar li a{
    width: 150px;
    height: 45px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: black;
    padding: 10px;
}
#toolbar ul ul li a{
    width: 200px;
    text-align: left;
    padding-left: 10px;
}
#toolbar a:hover{
    background-color: black;
}
#toolbar li a:hover{
    background-color: olivedrab;
}
#toolbar ul ul{
    position: absolute;
    top: 30px;
    left:15px;
    visibility: hidden;
}
#toolbar ul li:hover ul{
    visibility: visible;
    background-color: chartreuse;
}
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
        padding: 5px;
    }

    .toolbar {
        flex-wrap: wrap;
    }
}

left {
    padding-left: 27px;
    background-color: #e2e5e9;
    border: solid 5px white;
}

.left iframe {
    margin: 5px;
}

.main {
    text-align: center;
    border: solid 5px white;
}

.video {
    text-align: left;
    margin-left: 50px;
}

.left-video {
    margin: 20px 30px;
    background-color: white;
}

.description {
    text-align: left;
    margin-left: 50px;
}

.footer {
    text-align: center;
    background-color: lightgrey;
    margin-top: 10px;
}

.footer h4 {
    text-align: center;
}
* {
    box-sizing: border-box;
}












.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
/*https://flatuicolors.com/*/